@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    Figtree, -apple-system, 'Noto Sans', 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial,
    'Liberation Sans', 'PingFang SC', 'Hiragino Sans GB', 'Noto Sans CJK SC', 'Source Han Sans SC',
    'Source Han Sans CN', 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti',
    SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;
  --font-serif: 'Noto Serif SC', serif;
}

@layer base {
  :root {
    --color-gray-50: var(--color-olive-50);
    --color-gray-100: var(--color-olive-100);
    --color-gray-200: var(--color-olive-200);
    --color-gray-300: var(--color-olive-300);
    --color-gray-400: var(--color-olive-400);
    --color-gray-500: var(--color-olive-500);
    --color-gray-600: var(--color-olive-600);
    --color-gray-700: var(--color-olive-700);
    --color-gray-800: var(--color-olive-800);
    --color-gray-900: var(--color-olive-900);
    --color-gray-950: var(--color-olive-950);

    @media (prefers-color-scheme: dark) {
      --color-gray-50: var(--color-mist-50);
      --color-gray-100: var(--color-mist-100);
      --color-gray-200: var(--color-mist-200);
      --color-gray-300: var(--color-mist-300);
      --color-gray-400: var(--color-mist-400);
      --color-gray-500: var(--color-mist-500);
      --color-gray-600: var(--color-mist-600);
      --color-gray-700: var(--color-mist-700);
      --color-gray-800: var(--color-mist-800);
      --color-gray-900: var(--color-mist-900);
      --color-gray-950: var(--color-mist-950);
    }
  }

  text-autospace: normal;

  @supports (text-autospace: replace) {
    text-autospace: replace;
  }
}

@layer utilities {
  .prepend-zws::before {
    content: '\200b';
  }
}

.notion-wrapper {
  @apply text-justify;

  .notion {
    @apply leading-relaxed font-sans;
    color: inherit;
  }

  .notion-page {
    width: unset;
    max-width: unset;
    padding-left: unset;
    padding-right: unset;
  }

  .notion-text {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
